/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body{
    margin: 0;    
    font-family: 'Poppins', sans-serif;         
}

/*------------------------------------- header part ---------------------------------*/
.for-justify-content{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 110px;
}
.header-container{            
    width: 1108px;
    height: 540px;    
    background-color: #111111;
    border-radius: 20px;
    display: flex;            
}   

/* header left part */
.header-left-part{
    width: 50%;
    height: 100%;    
    border-radius: 20px;    
}
.header-heading{
    color: #ffffff;            
    margin: 65px 80px 2px;
    font-size: 55px;
    /* font-size: 100%; */
    /* font-size: 8vh; */     
}
.header-text{
    color: #ffffff;            
    margin: 2px 80px;      
    font-weight: 200;          
} 
.header-button{
    display: inline-block;
    color: #ffffff;
    background-color: rgb(221, 0, 0);    
    margin: 30px 80px; /*(top,bottom) (left,right)*/
    padding: 12px 25px 12px;  /* top (left,right) bottom*/
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
}  
.fa-chevron-right{
    margin-left: 10px;            
    /* font-weight: 200; */
}

/* header right part */                   
.header-right-part{
    width: 50%;
    height: 100%;
    position: relative;
}
.header-right-part img{
    width: 90%;
    height: 95%;     
    position: absolute;
    bottom: 0px;            
}         

/*------------------------------------- main part ---------------------------------*/
/*---------------------------------------- blog ---------------------------------*/
 .blog-container1{
    display: grid;
    grid-template-columns: 260px repeat(3, 1fr);            
    column-gap: 20px;        
    margin: 0 120px 20px 120px; /*top right bottom left*/
}
.blog-container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;    
    gap: 20px;
    margin: 0 120px 0 400px;
}        

.fixed-side-part{
    width: 212px;
    height: 212px;
    background-color: #111111;    
    padding: 24px;
    border-radius: 10px;    
}
.fixed-side-button{    
    display: block;
    width: 210px;
    height: 44px;
    margin-bottom: 24px;
    border-radius: 10px;    
    font-weight: 600;
    color: #111111;
    background-color: white;
    text-decoration: none;
    text-align: center;   
    padding-top: 10px;
}
.fixed-side-button:hover{
    color: white;
    background-color: rgb(221, 0, 0);
}
.fixed-side-button:last-child{
    color: white;
    background-color: rgb(221, 0, 0);
}
.blog{            
    width: 260px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(220, 220, 220);            
}        
.blog img{
    width: 100%;
    height: 48%;            
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blog a{
    display: inline-block;
    color: #000000;
    border: 1px solid black;
    text-decoration: none;
    margin: 4% 0 0 6% ;
    padding: .5% 7% .5%;
    border-radius: 5px;
    font-weight: 500;             
}
.blog p{
    margin: 4% 0 0 6% ; /*top right bottom left*/
    font-weight: 500;          
}
.blog span{
    display: block;
    margin-bottom: 2px;
}
.fa-clock{            
    color:rgb(80, 80, 80);            
    margin: 4% 2% 0 6% ;
}
.fa-comment-dots{
    color:rgb(80, 80, 80);            
    margin: 4% 2% 0 12% ;
}
.viewAll-button{    
    display: none;
}

/*------------------------------------- footer part ---------------------------------*/
.footer-container{
    width: 100%;
    height: 280px;
    margin-top: 110px;
    padding-top: 80px;
    background-color: #151515;
    text-align: center;
}
.footer-container h1{        
    color: white;        ;
    font-size: 35px;
    font-weight: 500;
}
.footer-container hr{        
    border: 1px solid #333333;
    margin: 50px 120px 50px 120px;
}
.footer-button-container a{  
    display: inline-block;      
    text-decoration: none;
    color: rgb(219, 219, 219);
    font-size: 15px; 
    margin: 1px;
    padding: 5px 15px 5px;
    border-radius: 8px;        
}
.footer-button-container a:hover{  
    background-color: rgb(221, 0, 0);
}    
.social-icon a{
    display: none;  
}

/*------------------------------------- media query for mobile ---------------------------------*/

@media only screen and (max-width: 576px){
    /* ----- header part ------ */
    .for-justify-content{
        display: flex;
        justify-content: center;      
        margin: 5%;
    }

    /* --- main part --- */
    /* ----- blog ------ */
    .blog-container1{
        display: grid;
        grid-template-columns: 1fr;            
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        row-gap: 20px;        
        /* margin: 0 10px 20px 10px; */
        background-color: red;

    }
    .blog-container2{        
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;    
        flex-direction: column;
        row-gap: 20px;    
        margin-left: 120px;
        /* margin: 0 10px 0 10px; */
        /* background-color: red;     */
    }  
    .fixed-side-part{
        width: 212px;
        height: 212px;
        background-color: white;    
        padding: 24px;        
        border-radius: 10px; 
        margin: auto;   
    }  
    .fixed-side-button{    
        display: block;
        width: 210px;
        height: 44px;
        margin-bottom: 24px;
        border: 1px solid gray;
        border-radius: 10px;    
        font-weight: 600;
        color: #111111;
        background-color: white;
        text-decoration: none;
        text-align: center;   
        padding-top: 10px;
    }
    .blog{            
        /* width: 90%; */
        width: 260px;
        height: 300px;
        background-color: white;
        border-radius: 18px;
        border: 1px solid rgb(150, 150, 150);            
    } 

    /* ----- footer part ------ */
    .footer-container{
        width: 100%;
        height: 620px;
        margin-top: 20px;
        padding-top: 10px;
        background-color: #151515;
        text-align: center;
    }
    .footer-container h1{        
        color: white;  
        font-size: 25px;
        font-weight: 500;
    }
    .footer-container hr{        
        border: 1px solid #333333;
        margin: 30px 10% 30px 10%;
    }       
    .footer-button-container a{
        width: 130px;        
        display: block;              
        text-decoration: none;
        margin: auto;
        
        color: rgb(219, 219, 219);
        font-size: 15px; 
        margin-top: 35px;        
        border-radius: 8px;   
    }
    /*----- social-icon ------*/
    .social-icon a{
        display: inline-block;
        margin: 35px 15px 0 15px;        
    }
    .fa-facebook-square, .fa-linkedin, .fa-twitter-square{                
        font-size: 25px;        
    }
    .fa-facebook-square{
        color: #1B74E4;
    }
    .fa-linkedin{
        color: #0A66C2;
    }
    .fa-twitter-square{
        color: #1D9BF0;    
    }
}


/*------------------------------------- media query for tab ---------------------------------*/
@media only screen and (min-width: 577px) and (max-width: 768px){

    /* --- main part --- */
    /* ----- blog ------ */
    .blog-container1{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);            
        gap: 20px;        
        margin: 0 10px 20px 10px; /*top right bottom left*/     
    }
    .blog-container2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: stretch;
        gap: 20px;
        margin: 0 10px 0 10px;
    } 
    .viewAll-button{
        display: block;
        text-align: center;
        margin: auto;
    }    
    .viewAll-button a{        
        display: inline-block;        
        color: #ffffff;
        background-color: rgb(221, 0, 0);    
        margin-top: 30px;        
        padding: 12px 25px 12px; /* top (left,right) bottom */
        border-radius: 5px;
        text-decoration: none;
        font-weight: 400; 
    }
}




